body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    background-color: #fff;
}
a:-webkit-any-link {
    color: inherit;
    text-decoration: inherit;
}
a {
    color: inherit;
    text-decoration: inherit;
}
*{box-sizing: border-box;}

img {
    max-width: 100%;
    height: auto;
}
.grey {
    color: grey;
}
