@mixin border-shadow {
    box-shadow: 1px 5px 10px #eaeaea;
}
@mixin padding-section {
    padding: 40px 28px;
}
@mixin radius-border {
    border-radius: 20px;
}
@mixin clr-btn {
    background: linear-gradient( $color-secondary, $color-primary);
}
