footer {
    background-color: #424141;
    color: white;
    padding: 28px;
    & img {
    filter: invert(1);
    width: 25%;
    }
    & .footer-container ul {
        list-style-type: none;
        padding-inline-start: unset;
        & li {
            padding-bottom: 10px;
            & .fas {
                font-size: 12px;
                padding-right: 10px;
            }
            & span .fas{
                padding-right: 5px;
            }
        }
    }
}
