footer {
    background-color: #353535;
    color: white;
    padding: 28px;
    @media screen and (min-width: 750px) {
        padding: 28px 80px;
      }

    & img {
    filter: invert(1);
    width: 25%;
    }
    & ul {
        list-style-type: none;
        padding-inline-start: unset;
    }
    & li {
        padding-bottom: 10px;
        @media screen and (min-width: 750px) {
            font-size: 1.5em;
          }
    
    }
    & .fas {
        font-size: 12px;
        padding-right: 10px;
    }
    & span .fas {
                padding-right: 5px;
    }
}
