footer {
    background-color: #353535;
    color: white;
    padding: 28px;
    & img {
    filter: invert(1);
    width: 25%;
    }
    & ul {
        list-style-type: none;
        padding-inline-start: unset;
    }
    & li {
        padding-bottom: 10px;
    }
    & .fas {
        font-size: 12px;
        padding-right: 10px;
    }
    & span .fas {
                padding-right: 5px;
    }
}
