.title {

    & h1 {
        font-family: 'Shrikhand', cursive;
        text-align: center;   
        letter-spacing: 1px;     
    }
    & .fas {
        position: absolute;
        top: 28px;
        left: 20px;
        font-size: 1rem;
    }
    &__position {
        background-color: #e3e3e3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-shadow: inset 0 2px 5px #A6A5A5;
        font-size: 1.1em;
        margin-left: -24px;
        font-weight: 500;
        
        & .fas {
            align-self: center;
            margin-right: 17px;
        }
    }
}
